.itemContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.itemContainer img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.itemListContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.itemContent {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.portionsContainer {
    display: flex;
    gap: 0.5em;

}

.portionsBtns {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

.cartSummary {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.2em;

}

.removeBtn {
    background-color: #FF0000;
}

/*h1 {*/
/*    text-align: center;*/
/*}*/


@media screen and (max-width: 768px) {
    .itemContainer {
        grid-template-columns: repeat(1, auto);
        padding: 0.25em;
    }

    .itemContainer img {
        width: 70%;
        margin: auto;
    }
}